*{
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
}


html{
  scroll-behavior: smooth;
}


/* Background do template base "base_crud.html" */
.cor-geral{
  background-color: #EFF0F1;
}


::selection{
  background-color: #000;
  color: #fff;
}


.header-pag-inicial{
  background-color: #EFF0F1;
}


.header-pag-inicial .secao-login{
  padding-top: 80px;
  width: 85%;
  margin: 0 auto 0 auto;
  text-align: center;
}


.header-pag-inicial .logo{
  margin-bottom: 60px;
  font-size: 30px;
  font-family: 'Coda Caption', sans-serif;
  text-shadow: 7px 7px 5px grey;
  transform: skew(-20deg, -10deg);
}


.header-pag-inicial .secao-login form{
  width: 100%;
  display: flex;
  flex-direction: column;
}


.header-pag-inicial .secao-login form label{
  display: none;
}


.header-pag-inicial .secao-login form input{
  padding: 12px;
  margin-bottom: 15px;
  cursor: pointer;
}


.header-pag-inicial .secao-login form .enviar{
  background-color: green;
  color: #fff;
  font-size: 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


.header-pag-inicial .secao-login .cadastro{
  color: blue;
  cursor: pointer; 
}


.header-pag-inicial .secao-login ul{
  width: 100%;
  margin-top: 40px;
}


.header-pag-inicial .secao-login ul p{
  padding-bottom: 15px;
}


.header-pag-inicial .secao-login ul a{
  background-color: #385499;
  border-radius: 4px;
  height: 55px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
}


.header-pag-inicial .secao-login ul a img{
  width: 30px;
  padding-right: 14px;
}


.header-pag-inicial .secao-login ul .linkedin{
  background-color: #1E90FF;
}


.header-pag-inicial .secao-login ul .google{
  background-color: #fff;
  color: #000;
}


main{
  background-color: #EFF0F1;
  padding-top: 50px;
  padding-bottom: 90px
}


main .sobre-plataforma h2{
  font-size: 24px;
  text-align: center;
  color: #000;
  letter-spacing: 3px;
}


main .sobre-plataforma p{
  width: 90%;
  text-align: center;
  margin: 0 auto 0 auto;
  padding-top: 20px;
  letter-spacing: 2px;
  word-spacing: 3px;
  line-height: 30px;
  padding-bottom: 70px;
}


main .cards{
  width: 88%;  
  margin: 0 auto 0 auto;
}


main .cards .card{
  width: 100%; 
  background-color: #FFFFFF;
  height: 550px;
  margin-bottom: 40px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: center;
  letter-spacing: 2px;
  word-spacing: 2px;
  border-radius: 9px;
}


main .cards .card img{
  width: 140px;
  height: 140px;
  background-color: purple;
  margin-top: 40px;
  border-radius: 50%;
}


main .cards .card img:hover{
  box-shadow: 7px 7px 5px grey; 
}


main .cards .card h1{
  font-size: 23px;
  letter-spacing: 3px;
  margin-bottom: 20px;
}


main .cards .card p{
  width: 90%;
  margin: 0 auto 0 auto;
  line-height: 30px;
  letter-spacing: 2px;
  word-spacing: 2px;
}


main .desenvolvedor{
  width: 90%;
  margin: 80px auto 0 auto;
  text-align: center;
}


main .desenvolvedor p{
  letter-spacing: 2px;
  word-spacing: 3px;
  line-height: 30px;
}


main .desenvolvedor img{
  width: 200px;
  height: 200px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 50%;
}


main .form-contato{
  margin-top: 80px;
  margin-bottom: 20px;
  width: 100%;
  background-image: url('../imgs/background.jpg');
  background-attachment: fixed;
  background-position: center;
}


main .form-contato h1{
  color: #fff;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 25px;
  font-size: 30px;
}


main .form-contato form{
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
}


main .form-contato form input{
  padding: 12px;
  margin-bottom: 15px;
  cursor: pointer;
}


main .form-contato form textarea{
  padding: 10px;
}


main .form-contato form .enviar{
  margin-top: 25px;
  background-color: green;
  color: #fff;
  font-size: 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.rodape-pag-inicial{
  width: 100%;
  background-color: grey;
}


.rodape-pag-inicial h4{
  color: #fff;
  padding-top: 25px;
  text-align: center;
  font-size: 25px;
}


.rodape-pag-inicial ul{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 15px 0 60px 0;
}


.rodape-pag-inicial ul a{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-size: 30px;
  cursor: pointer;
}


.rodape-pag-inicial ul a:hover{
  background-color: #2ecc71;
  transform: rotate(26deg);
  transition: 0.5s;
}


.rodape-pag-inicial p{
  color: #fff;
  text-align: center;
  padding-bottom: 8px;
}



/* 
 ===============================================
              Página de usuario.html
 ================================================
*/

.butoes{
  width: 78%;
  margin: 0 auto 0 auto;
  display: flex;
}


.butoes .butao-novo{
  width: 100%;
  text-align: right;
}


.butoes .butao-novo a{
  background-color: green;
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
  color: #fff;
}


.butoes .butao-conf a{
  color: #0072aa;
  padding: 10px;
  font-weight: bold;
  color: grey;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
}


.posts{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}


.posts .buscar{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}


.posts .buscar input{
  width: 75%;
  padding: 10px;
  cursor: pointer;
}


.posts .buscar button{
  padding: 10px;
}


.posts .header-posts{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #BDB76B;
  border-radius: 8px 8px 0 0;
  padding: 10px 0 10px 0;
}


.posts .header-posts h2{
  padding-left: 5px;
  width: 76%;
  word-wrap: break-word;
}


.posts .header-posts h2 a{
  color: #0072aa;
}


.posts .header-posts article{
  display: flex;
  padding-right: 15px;
}


.posts .header-posts article a{
  font-size: 22px;
}


.posts .header-posts article .editar{
  color: green;
}


.posts .header-posts article .excluir{
  color: red;
}


.posts .header-posts article a:first-child{
  padding-right: 5px;
}


.posts .sumario{
  height: 170px;
  padding: 20px 5px 0 5px;
  background-color: #F0E68C;
  border-radius: 0 0 8px 8px;
  margin-bottom: 60px;
  text-align: center;
  word-wrap: break-word;
}


.posts .sumario a{
  color: #0072aa;
}


.vazio{
  width: 90%;
  margin: 0 auto 0 auto;
  text-align: center;
  color: grey;
  padding-top: 50px;
}


.vazio img{
  width: 400px;
}

.vazio h1{
  padding-bottom: 10px;
}



/* 
 ===============================================
        Formatação da página anotacao.html
 ================================================
*/
.conteudo-do-post{
  width: 90%;
  margin: 50px auto 0 auto;
  text-align: center;
  color: grey; 
}


.conteudo-do-post h2{
  padding-bottom: 10px;
  word-wrap: break-word;
  font-size: 30px;
}


.conteudo-do-post .cont{
  word-wrap: break-word;
}


.sair-da-anotacao{
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0072aa;
  font-size: 30px;
  cursor: pointer;
}



/* 
 ===============================================
Formatações das páginas excluir-anotacao.html, sair.html e deletar-conta.html
 ================================================
*/
.confirmar-exclusao, .sair-sistema, .deletar-conta{
  width: 90%;
  height: 90vh;
  margin: 0 auto 0 auto;
  padding-top: 90px;
  text-align: center;
}


.confirmar-exclusao h2, .sair-sistema h2, .deletar-conta h2{
  color: grey;
}


.confirmar-exclusao article, .sair-sistema article, .deletar-conta article{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}


.confirmar-exclusao article form input, .sair-sistema article form input, .deletar-conta article form input{
  background-color: red;
  color: #fff;
  padding: 10px 15px 10px 15px;
  border: none;
  border-radius: 5px;
  margin-right: 30px;
}


.confirmar-exclusao article form input:hover, .sair-sistema article form input:hover, .deletar-conta article form input:hover{
  box-shadow: 0 0 5px #ff96ad, 0 0 25px #ff96ad, 0 0 50px #ff96ad, 0 0 200px #ff96ad;
}


.confirmar-exclusao article a, .sair-sistema article a, .deletar-conta article a{
  color: #0072aa;
}



/* 
 ===============================================
  Formatação da página confs.html
 ================================================
*/
.confs{
  width: 100%;
  height: 100vh;
}


.confs article h1{
  text-align: center;
  font-size: 30px;
  color: grey;
  padding: 50px 0 50px 0;
}


.confs article nav{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.confs article nav a{
  width: 80%;
  padding: 12px;
  margin-bottom: 20px;
  background-color: #0072aa;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  color: #fff;
}



/* 
 ===============================================
  Formatação da página alterar-senha.html
 ================================================
*/
.alterar-senha{
  width: 100%;
  height: 100vh;
}


.alterar-senha article{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 0 50px 0;
}


.alterar-senha article h2{
  text-align: center;
  color: grey;
}


.alterar-senha article form{
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}


.alterar-senha article form label{
  display: none;
}


.alterar-senha article form input{
  padding: 12px;
  margin-bottom: 15px;
}


.alterar-senha article form .alterar{
  background-color: green;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
}


.alterar-senha article .cancelar{
  text-align: center;
}


.alterar-senha article .cancelar a{
  color: #0072aa;
}



/* 
 ===============================================
      Formatação da página sucesso.html
 ================================================
*/
.pag-sucesso{
  width: 100%;
  height: 100vh;
}


.pag-sucesso article{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 0 50px 0;
  text-align: center;
}


.pag-sucesso article h1{
  font-size: 30px;
  color: green;
}


.pag-sucesso article a{
  color: #0072aa;
  font-size: 20px;
}


.pag-sucesso article p{
  padding: 10px 0 10px 0;
  color: grey;
}



/* 
   ===============================================
Formatação da página editar-anotacao.html e nova-anotacao.html
   ================================================
*/
.titulo-editar, .titulo-novo{ 
  text-align: center;
  padding: 90px 0 30px 0;
  color: grey;
}


.campos{
  width: 90%;
  margin:  0 auto 0 auto;
}


.campos form{
  display: flex;
  flex-direction: column;
  overflow: auto;
}


.campos form label{
  color: grey;
}


.campos form input{
  padding: 12px;
  margin-bottom: 15px;
}


.campos form .botao{
  background-color: green;
  color: #fff;
  font-size: 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 20px 0 15px 0;
}


.campos .v-p{
  width: 100%;
  text-align: center;
  padding-bottom: 90px;
}


.campos .v-p a{
  color: #0072aa;
}



/* 
 ===============================================
        Formatação da página buscar.html
 ================================================
*/
.titulo-result-busca{
  text-align: center;
  padding-bottom: 30px;
  color: grey;
}



/* 
 ===============================================
                  Paginação
 ================================================
*/
.paginacao{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.paginacao .paginar a{
  color: #0072aa;
  font-size: 30px;
}


.paginacao .atual{
  font-size: 25px;
  padding: 0 8px 0 8px;
}



/* 
 ===============================================
        Formatação da página 404.html
 ================================================
*/
.erro404{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #EFF0F1;
}


.erro404 h3{
  color: grey;
  font-size: 25px;
  padding-bottom: 10px;
}


.erro404 h4{
  color: grey;
  font-size: 20px;
  padding-bottom: 10px;
}


.erro404 img{
  width: 300px;
}


.voltar-pag404{
  color: #0072aa;
  font-size: 25px;
  margin: 0 0 20px 0;
  cursor: pointer;
}



/* 
 ===============================================
        VERSÃO DA PLATAFORMA EM PC 
 ================================================
*/
@media (min-width: 800px){
  .header-pag-inicial .secao-login{
    width: 60%;
  }


  main .sobre-plataforma p{
    width: 85%;
  }


  main .cards{
    display: flex;
    justify-content: center;
    width: 95%;
  }


  main .cards .card{
    height: 600px;
    width: 30%;
  }


  main .cards .card:nth-child(2){
    margin: 0 30px 0 30px;
  }


  main .cards .card p{
    width: 95%;
    margin: 0 auto 0 auto;
    line-height: 20px;
    letter-spacing: 2px;
    word-spacing: 2px;
  }


  main .form-contato form{
    width: 60%;
  }


  /* Página usuario.html */
  .posts, .butoes{
    width: 70%;
  }


  /* Formatação da página editar-anotacao.html e nova-anotacao.html */
  .campos{
    width: 60%;
    margin:  0 auto 0 auto;
  }


  /* Formatação página confs.html */
  .confs article nav a{
    width: 60%;
    padding: 17px;
    margin-bottom: 22px;
  }

  
  /* Formatação da página alterar-senha.html */
  .alterar-senha article{
    width: 60%;
  }


}
