{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

  <head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-PGJNPQ9L1W"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-PGJNPQ9L1W');
</script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <meta name="author" content="Gabriel Santana">
    <meta name="copyright" content="© 2021 GabrielSantana">
    <meta name="rating" content="general">
    <meta name="description" content='"LEMBRAR-ME" - Uma incrível plataforma de criação de lembretes, totalmente gratuita e 100% confiável. Feita para lhe atender'>
    <meta name="keywords" content="lembrete online,lembrete,anotações online,criacao de lembretes,lembretes,anotacoes,LEMBRAR-ME">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link rel="shortcut icon" href="https://img.icons8.com/clouds/150/000000/folder-invoices.png" type="image/x-icon">
    <title>{% block titulo %}Lembrar-me{% endblock %}</title>
        <script>
          window.onbeforeunload = () => {
            for(const form of document.getElementsByTagName('form')) {
              form.reset();
  }
}
        </script>
  </head>

  <body>
      {% block content %}
      {% endblock %}
  </body>
  <script src="{% static 'js/script.js' %}"></script>

</html>

