{% extends 'base_crud.html' %}

{% block titulo %}Configuração{% endblock %}

{% block content %}

<section class="confs">
  <article>
      <h1>Configuração</h1>

      <nav>
        <a href="{% url 'usuario' %}">Retornar</a>
        <a href="{% url 'politicas' %}">Políticas</a>
        <a href="{% url 'tema' %}">Tema</a>
        {% if user.has_usable_password %}
            <a href="{% url 'alterar-senha' %}">Alterar Senha</a>
        {% else %}
            <a href="{% url 'definir-senha' %}">Definir Senha</a>
        {% endif %}
        <a href="{% url 'sair' %}">Sair</a>
        <a href="{% url 'deletar-conta' user.pk %}">Deletar Conta</a>
      </nav>

  </article>
</section>

{% endblock%}

