{% extends 'base.html' %}

{% block titulo %}Configuração{% endblock %}

{% block content %}

<section class="confs">
  <article>
      <h1 class="ti">Configuração</h1>

      <nav>
        <a href="{% url 'usuario' user.username %}">Retornar</a>
        <a href="{% url 'politicas' %}">Políticas</a>
        <select id="tema" onchange="FuncTema()">
            <option>Tema</option>
            <option value="claro">Claro(Padrão)</option>
            <option value="escuro">Escuro</option>
            <option>Em Breve...</option>
        </select>
        {% if user.has_usable_password %}
            <a href="{% url 'alterar-senha' user.username %}">Alterar Senha</a>
        {% else %}
            <a href="{% url 'definir-senha' user.username %}">Definir Senha</a>
        {% endif %}
        <a href="{% url 'sair' user.username %}">Sair</a>
        <a href="{% url 'deletar-conta' user.username user.pk %}">Deletar Conta</a>
      </nav>

  </article>
</section>

<script src="//code-sa1.jivosite.com/widget/wC8i3Yq6bL" async></script>
{% endblock%}

