{% extends 'base_crud.html' %}

{% block titulo %}Politicas de Privacidade{% endblock %}

{% block content %}

<section class="politicas">
  <h1>Declaração de Privacidade da LEMBRAR-ME</h1>
  <p>Agradeço por confiar suas informações pessoais à LEMBRAR-ME. Tomei todas as medidas razoavelmente necessárias para proteger a confidencialidade, a integridade e a disponibilidade das suas informações pessoais na LEMBRAR-ME e para proteger a resiliência dos nossos servidores. Fornecemos os mesmos altos padrões de proteção de privacidade a todos os nossos usuários em todo o mundo. Em geral a LEMBRAR-ME retém as Informações Pessoais de Usuário enquanto a sua conta está ativa ou sempre que for necessário para prestar serviços a você. Para cancelar sua conta ou excluir suas Informações Pessoais de Usuário, acesse as configurações de sua conta da plataforma e click no botão deletar conta. feito isso todos os seus dados serão deletados instantaneamente do servidor.</p>
  <a href="{% url 'entrar' %}">Retornar</a>
</section>

{% endblock%}

