<footer class="rodape">
  <h4>Redes</h4>
  <ul>
    <a href="https://www.instagram.com/young.coder_official/" target="_blank"><i class="fa fa-instagram"></i></a>
    <a href="https://www.linkedin.com/in/gabriel-santana-485767203" target="_blank"><i class="fa fa-linkedin"></i></a>
    <a href="https://github.com/GabrielSantos198" target="_blank"><i class="fa fa-github"></i></a>
    <a href="https://www.facebook.com/gabrielsantana00" target="_blank"><i class="fab fa-facebook"></i></a>
  </ul>
    <p>Copyright ©2021 Gabriel Santana</p>  
</footer>


